[submodule "third_party/libunwind/upstream"]
	path = third_party/libunwind/upstream
	url = git://git.sv.gnu.org/libunwind.git
[submodule "third_party/glog/upstream"]
	path = third_party/glog/upstream
	url = https://github.com/google/glog.git
[submodule "third_party/gflags/upstream"]
	path = third_party/gflags/upstream
	url = https://github.com/gflags/gflags.git
[submodule "third_party/protobuf/upstream"]
	path = third_party/protobuf/upstream
	url = https://github.com/google/protobuf.git
[submodule "third_party/boringssl/src"]
	path = third_party/boringssl/src
	url = https://boringssl.googlesource.com/boringssl
[submodule "third_party/grpc/upstream"]
	path = third_party/grpc/upstream
	url = https://github.com/grpc/grpc.git
[submodule "third_party/zlib/upstream"]
	path = third_party/zlib/upstream
	url = https://github.com/madler/zlib.git
[submodule "third_party/snappy/upstream"]
	path = third_party/snappy/upstream
	url = https://github.com/google/snappy.git
[submodule "third_party/gtest/upstream"]
	path = third_party/gtest/upstream
	url = https://chromium.googlesource.com/external/googletest
[submodule "third_party/gmock/upstream"]
	path = third_party/gmock/upstream
	url = https://chromium.googlesource.com/external/gmock
[submodule "third_party/re"]
	path = third_party/re
	url = https://github.com/google/re2.git
[submodule "third_party/gperftools/upstream"]
	path = third_party/gperftools/upstream
	url = https://github.com/mzhaom/gperftools.git
[submodule "third_party/benchmark/upstream"]
	path = third_party/benchmark/upstream
	url = https://github.com/google/benchmark.git
